.form.settings.user-settings-modal .settings-actions:before,
.lastversion:after {
    content: "Current version: v1.0.0";
}

.app:after {
    content: "Current version: v1.0.0\A - Created";
}

/*Animated Avatar: HansAnonymous*/
[style*="168216897450541056"] {
    background: url('https://i.imgur.com/u5c8E.gif') !important;
    background-size: cover !important;
}

/*Animated Avatar: Howdy! It's ya boi Pierce*/
[style*="215925240646205440"] {
    background: url('https://i.imgur.com/Kcx9An6.gif') !important;
    background-size: cover !important;
}
