.bot-tag {
    background: rgba(0, 255, 0, 0.4);
    color: rgba(255, 255, 255, 0.62) !important;
}
.bot-tag.bot-tag-invert {
    font-size: 11px !important;
    color: hsla(0, 0%, 100%, 0.7) !important;
    margin-left: 8px !important;
    border-radius: 5px !important;
    background: rgba(0, 0, 0, 0.19) !important;
    font-weight: 700 !important;
    border: 3px solid transparent !important;
    padding: 0px;
}
