.channel-members h2 {
    color: var(--main-color) !important;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-weight: 700;
    padding: 4px 58px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    width: 90px;
    margin-left: 15px;
    text-align: center
}
